:root {
    --main-text-color: white;
    --figcaption-bg-color: pink;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: normal;
    color: var(--main-text-color);
    background-image: linear-gradient(to bottom, lightblue, black);
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 10%;
    width: auto;
    height: auto;
    border: 2px solid pink;
}

h1, h2 {
    font-size: 300%;
}

li {
    float: right;
    padding-top: 16px;
    margin-right: 20px;
    font-size: 125%;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2%;
}

.intro p {
    margin: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2%;
}

.first-project img {
    align-items: center;
    /* max-width: 70%; */
    width: auto;
    height: auto;
    border: 2px solid pink;
}

.first-project-caption {
    position: relative;
    bottom: 100px;
    max-width: 12%;
    font-size: 150%;
    /*background: var(--figcaption-bg-color);*/
    padding: 10px;
    /*border: 1px solid pink;*/
}

.other-projects img {
    /* max-width: 70%; */
    width: auto;
    height: auto;
    border: 2px solid pink;
}

/*@media screen and (max-width: 992px) {
    .first-project {
       width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .first-project {
       width: 90%;
    }
}