:root {
    --main-text-color: white;
    --figcaption-bg-color: pink;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: normal;
    color: var(--main-text-color);
    background-image: linear-gradient(to bottom, lightblue, black);
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 10%;
}

h1, h2 {
    font-size: 300%;
}

li {
    float: right;
    padding-top: 16px;
    margin-right: 20px;
    font-size: 125%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2%;
}

.first-project img {
    max-width: 70%;
    height: auto;
    border: 1px solid pink;
}

.project-caption {
    position: relative;
    bottom: 100px;
    max-width: 12%;
    font-size: 200%;
    background-color: var(--figcaption-bg-color);
    padding-left: 20px;
    padding-right: 20px;
}